.participation-boxes{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.participation-box{
    display: flex;
    justify-content: center;
    align-items: center
    ;flex-direction: column;
    width: 650px;
    height: 400px;
    background-color: #151f30;
    margin-left: 20px;
    border: 3px solid #162030;
    border-radius: 10px;
    cursor: pointer;
}
#box2{
    width: 650px;
    height: 430px;
    margin-top: 25px;
}
#box2 > div{
    height: 22%;
    margin-bottom: 45px;
}
.participation-box:hover{
    border-bottom: 8px solid #1d2e49;
    transition: 0.5s ease;
    margin-bottom: 5px;
    padding: 10px;
}
.participation-box > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 23%;
    background-color: #1d2e49;
    border-radius: 100px;
    margin-bottom: 20px;
    font-size: 35px;
}
.participation-box > h1 {
    font-size: 18px;
    margin-bottom: 30px;
}
.participation-box > span{
    font-size: 15px;
}
.layout-div{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.layout-div > div{
    width: 50%;
    height: 100%;
    background-color: #1d2e49;
    margin-left: 20px;
    border-radius: 10px;
    padding-top: 0px;
}
.layout-div > div:hover{
    box-shadow: 0px 0px 10px #21314b;
    transition: 0.7s ease;
}
.layout-div > div > h2{
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
}

.layout-span{
    text-align: justify;
    padding: 20px;
    padding-top: 0;
    font-size: 16px;
}

.timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
}
.timeline > h2{
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 70px;
}
.timeline-line{
    position: absolute;
    width: 5px;
    height: 65%;
    background-color: #1d2e49;
    margin-top: 180px;
    border-radius: 20px;
}
.concepts-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}
.concepts-div{
    width: 300px;
    height: fit-content;
    padding: 10px;
    background-color: #162030;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 700;
    font-family: 'Cormorant Garamond', serif;
}
 .syllabus-heading{
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    margin-top: 50px;
}
.syllabus-button{
    width: 80%;
    height: 65px;
    background-color: #21314b;
    color: white;
    font-size: 23px;
    font-family: 'Cormorant Garamond', serif;
    border: 2px solid #1d2e49;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
}
.syllabus-button:hover{
    background-color: #1a283f;
    transition: 0.7s ease;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 70px;
    background-color: #162030;
    border-radius: 15px;
    margin-top: 25px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
}
.right-container{
    margin-left: 450px;
}
.left-container{
    margin-right: 450px;
}
.rules-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
}
.rules-section > h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    margin-top: 50px;
}
#rules-boxes > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 40%;
    height: 150px;
    background-color: #21314b;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 20px;
}

#rules-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}
#rules-boxes > div > h2 {
    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;
    margin-right: 150px;
    margin-bottom: 90px;
}
#rules-boxes > div > span{
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1px;
}
#warning-span{
    margin-top: 30px;
    color: red;
    font-family: 'Cormorant Garamond', serif;
}
.competition-banner {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: 300px;
    margin-top: 250px;
    margin-left: 60px;
    padding: 20px;
    background-color: #151f30;
    border-radius: 20px;
}
.competition-info-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 300px;
    padding-top: 20px;
}
.competition-info-div > h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 65px;
}
.competition-info-div > span {
    font-size: 20px;
}
.competition-info-div > button {
    width: 200px;
    height: 55px;
    background-color: #21314b;
    color: white;
    font-size: 22px;
    font-family: 'Cormorant Garamond', serif;
    border: 2px solid #1d2e49;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.competition-banner > img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
#footer{
    margin-top: 100px;
}
@media screen and (max-width: 600px){
    .participation-boxes{
        flex-direction: column;
    }
    .participation-box{
        width: 90%;
        max-width: 300px;
        max-height: 450px;
        margin-top: 10px;
    }
    .participation-box > div{
        max-width: 80px;
        max-height: 80px;
    }
    .timeline > h2 {
        font-size: 35px;
    }
    .layout-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1200px;
    }
    .layout-div > div {
        width: 90%;
        margin-top: 20px;
    }
    .right-container{
        margin-left: 0;
    }
    .left-container{
        margin-right: 0;
    }
    .timeline-line{
       display: none;
    }
    .concepts-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .concepts-div{
        margin-top: 10px;
        margin-right: 20px;
    }
    .rules-section > h2{
        font-size: 38px;
        margin-top: 20px;
    }
    #rules-boxes{
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 120px;
    }
    #rules-boxes > div {
        width: 90%;
    }
    #rules-boxes > div > span{
        font-size: 14px;
    }
    #warning-span {
        margin-top: 120px;
        margin-left: 50px;
        font-size: 15px;
    }
    .competition-banner {
        flex-direction: column;
        margin-top: 600px;
        width: 400px;
        height: 700px;
        margin-left: 20px;
    }
    .competition-info-div > h2{
        font-size: 45px;
        margin-left: 50px;
    }
    .competition-info-div > span {
        font-size: 18px;
        margin-top: 20px;
        text-align: justify;
    }
    .competition-banner > img {
        margin-top: 100px;
    }
    .competition-info-div > button {
        position: absolute;
        height: 50px;
        margin-left: 40px;
        margin-top: 310px;
    }

}
@media screen and (max-width: 365px){
    #rules-boxes > div > h2 {
        font-size: 70px;
    }
    #rules-boxes > div > span{
        font-size: 10px;
    }
    .competition-banner {
        width: 90%;
        margin-left: 20px;
    }
    .competition-info-div > h2 {
        font-size: 30px;
    }
    .competition-info-div > span {
        font-size: 15px;
    }
    .competition-info-div > button {
        margin-left: 0;
        margin-top: 270px;
    }
}
